/* ----------------------------------------------------- Tags ----------------------------------------------------- */

body {
    margin: 0;
    text-align: center;
}

h1 {
    /*                    (100% = 16px = 1em)        ('percentage' and 'em' are dynamic, 'pixel' is static.)        */
    color: #66BFBF;
    margin: 50 auto 0;
    font-family: 'Dancing Script', cursive;
    font-size: 562.5%;
}

h2 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-weight: normal;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p {
    font-size: larger;
    color: #40514E;
}

a {
    margin: auto 20px;
    color: #11999E;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

hr {
    border: dotted #6ba8a8 6px;
    width: 4%;
    border-bottom: none;
    margin: 100px auto;
}


/* ----------------------------------------------------- Tags ----------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------- */


/* -------------------------------------------------- Containers -------------------------------------------------- */

.topContainer {
    background-color: #EAF6F6;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /* New Property */
    position: relative;
    padding-top: 100px;
}

.middleContainer {}

.bottomContainer {
    background-color: #66BFBF;
    padding: 35px 0px 20px;
}


/* -------------------------------------------------- Containers -------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------- Flag ----------------------------------------------------- */

.orange {
    background-color: rgb (255, 102, 0);
    height: 80px;
    width: 300px;
    /* New Property */
    display: inline-block;
    position: relative;
    right: 307px;
    bottom: 163px;
}

.white {
    background-color: white;
    height: 240px;
    width: 300px;
    /* New Property */
    display: inline-block;
    border: solid;
    margin-top: 3px;
    margin-left: 3px;
}

.wheel {
    display: inline-block;
    position: relative;
    right: 805px;
    bottom: 83px;
}

.green {
    background-color: green;
    height: 80px;
    width: 300px;
    /* New Property */
    display: inline-block;
    position: relative;
    right: 611px;
    bottom: 3px;
}


/* ----------------------------------------------------- Flag ----------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------- Boxes ---------------------------------------------------- */

.red {
    background-color: red;
    height: 100px;
    width: 100px;
    /* New Property */
    position: absolute;
    top: 200px;
    left: 200px;
}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
    /* New Property */
    position: absolute;
    top: 100px;
    left: 100px;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    /* New Property */
    position: absolute;
}


/* ----------------------------------------------------- Boxes ---------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------- Clouds ---------------------------------------------------- */

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}


/* ---------------------------------------------------- Clouds ---------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------- */


/* -------------------------------------------------- Decoration -------------------------------------------------- */

.skill-row {
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
    width: 50%;
}

.code {
    width: 25%;
    margin: auto;
    float: left;
    margin-right: 30px;
}

.code-2 {
    width: 25%;
    margin: auto;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/* ---------------------------------------------------- Decoration -------------------------------------------------- */